
#inicio {
	min-height: 500px;
}
.iniciop{
	background-color: #36537C;
	height: 500px;
	border-radius: 20px;
}
.titulo{
	text-align: center;
	color: white;
	margin-bottom: 2em;
}
.contenido{
	text-align: justify;
	color: white;
	font-size: 19px;
	padding: 1em;
}
.conIngreso{
	display: none;
}
.inicioRegistro{
	margin-top: 3em;
}
a.btn.btn-info.boton.waves-effect.waves-light.inicia {
	width: 300px;
}
a.olvido {
	margin-top: 1em;
}
.btn-info {
	background: #00C851;
}
.btn-info:hover, .btn-info:focus {
	background-color: #00C851 !important;
}
.registro{
	text-align: right;
	cursor: default;
}
.oculto{
	display: none;
}
.visible{
	display: block;
}
.info {
	margin: 3em 1em;
}
h4 {
	margin: 1em 0;
}
.fa-15x {
	font-size: 15em;
}
a.boton {
	width: 160px;
}
.enlaces {
	margin: 5em 5em;
}
p {
    font-size: 16px;
    cursor: default;
}