section#timeline article:nth-child(1) div.inner h2
{
    background: #f44336;
}

section#timeline article:nth-child(1) div.inner h2:after
{
    background: #f44336;
}

section#timeline article:nth-child(2) div.inner h2
{
    background: #2196f3;
}

section#timeline article:nth-child(2) div.inner h2:after
{
    background: #2196f3;
}

section#timeline article:nth-child(3) div.inner h2
{
    background: #689f38;
}

section#timeline article:nth-child(3) div.inner h2:after
{
    background: #689f38;
}

section#timeline article:nth-child(4) div.inner h2
{
    background: #e91e63;
}

section#timeline article:nth-child(4) div.inner h2:after
{
    background: #e91e63;
}

section#timeline article:nth-child(5) div.inner h2
{
    color: #000;
    background: #ffd600;
}

section#timeline article:nth-child(5) div.inner h2:after
{
    background: #ffd600;
}

section#timeline article:nth-child(6) div.inner h2
{
    background: #009688;
}

section#timeline article:nth-child(6) div.inner h2:after
{
    background: #009688;
}

section#timeline article:nth-child(7) div.inner h2
{
    background: #607d8b;
}

section#timeline article:nth-child(7) div.inner h2:after
{
    background: #607d8b;
}

section#timeline article:nth-child(8) div.inner h2
{
    background: #f44336;
}

section#timeline article:nth-child(8) div.inner h2:after
{
    background: #f44336;
}

section#timeline article:nth-child(9) div.inner h2
{
    background: #2196f3;
}

section#timeline article:nth-child(9) div.inner h2:after
{
    background: #2196f3;
}

section#timeline article:nth-child(10) div.inner h2
{
    background: #689f38;
}

section#timeline article:nth-child(10) div.inner h2:after
{
    background: #689f38;
}

section#timeline article:nth-child(11) div.inner h2
{
    background: #e91e63;
}

section#timeline article:nth-child(11) div.inner h2:after
{
    background: #e91e63;
}

section#timeline article:nth-child(12) div.inner h2
{
    color: #000;
    background: #ffd600;
}

section#timeline article:nth-child(12) div.inner h2:after
{
    background: #ffd600;
}

section#timeline article:nth-child(13) div.inner h2
{
    background: #009688;
}

section#timeline article:nth-child(13) div.inner h2:after
{
    background: #009688;
}

section#timeline article:nth-child(14) div.inner h2
{
    background: #607d8b;
}

section#timeline article:nth-child(14) div.inner h2:after
{
    background: #607d8b;
}
